@import url('https://fonts.googleapis.com/css2?family=Anton&family=Codystar:wght@300;400&family=Share+Tech+Mono&display=swap');
/* styles for custom css library */
:root{
    --offset-x: 1px;
    --offset-y: 1px;
    --blur-radius: 10px;
    --color1: #f6fc59;
    --color2: #fff;
}
* {
    box-sizing: border-box;
    /* make css variable for each of the following */
    /* /* offset-x | offset-y | blur-radius | color */
    --offset-x: 1px;
    --offset-y: 1px;
    --blur-radius: 10px;
    --color1: #f6fc59;
    --color2: #fff;
    /* background-color: black; */
  
  }
html,
body {
  /* height: 100%;s */
  margin: 0;
  padding: 0;
  
  
  /* padding: 10px; */
  font-family:'Share Tech Mono', monospace;
  color:white;
  background-color: black;

}
.images{
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    object-fit: cover;
    gap:0;
    width: 100%;
    /* width:min-content; */

}
marquee { 
    background-color: rgba(0, 0, 0, 0.7); 
    position: fixed;
    background:transparent;
}


.glow {
    /* font-size: 80px; */
    color: #fff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
  }
  /* rewrite the glow css below with the css variables like var(--color)*/
  /* @-webkit-keyframes glow{
    from {
        text-shadow: var(--offset-x), var(--offset-y), var(--blur-radius), var(--color1), var(--offset-x), var(--offset-y), var(--blur-radius), var(--color1), var(--offset-x), var(--offset-y), var(--blur-radius), var(--color1), var(--offset-x), var(--offset-y), var(--blur-radius), var(--color1), var(--offset-x), var(--offset-y), var(--blur-radius), var(--color1), var(--offset-x), var(--offset-y), var(--blur-radius), var(--color1);
    }
    to {
        text-shadow: var(--offset-x), var(--offset-y), var(--blur-radius2), var(--color2), var(--offset-x), var(--offset-y), var(--blur-radius2), var(--color2), var(--offset-x), var(--offset-y), var(--blur-radius2), var(--color2), var(--offset-x), var(--offset-y), var(--blur-radius2), var(--color2), var(--offset-x), var(--offset-y), var(--blur-radius2), var(--color2), var(--offset-x), var(--offset-y), var(--blur-radius2), var(--color2);
    }
  } */

  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 10px #fff, 0 0 20px #f6fc59, 0 0 10px #f6fc59, 0 0 20px #f6fc59, 0 0 20px #f6fc59, 0 0 10px #f6fc59;
    }
    
    to {
      text-shadow: 0 0 5px #fff, 0 0 5px #f6fc59, 0 0 0px #f6fc59, 0 0 10px #f6fc59, 0 0 10px #f6fc59, 0 0 10px #f6fc59, 0 0 10px #f6fc59;
    }
  }





h1{
    font-family: Codystar;
    margin-bottom: 0px;
    font-weight: 1000;
    margin: 0;
}
h2{
    margin:20px;
}
.info-container{
    display: flex;
    padding-inline: 55px;

    justify-content: space-between;
    /* flex-basis: 400px; */
}
.listen{
    display: flex;
    flex-direction: column;
    width: 80%;
    flex:1;
    font-size: 3vw;

    
}
.contact{
    display: flex;
    flex-direction: column;
    align-items:flex-end;
    justify-content: start;
    flex:1;
    font-size: 3vw;
    z-index: 2;


}


.text-left {
    text-align: left;
  }
  
  .text-center {
    text-align: center;
  }
  
  .text-right {
    text-align: right;
  }
img{
    display: block;
    max-width: 100%;
    /* min-width: fit-content; */
    height: auto;
    /* border:4px solid black; */
    /* object-fit: cover; */
    margin:0;
    padding: 0;
    z-index: -2;
}

a{

    text-decoration: none;
    background-color: white;
    color: black;
    border-radius: 5px;
    padding: 10px;
    transition: transform 0.5s;
}
a:hover{
    /* background-color: black; */
    /* color: white; */
    transform: scale(1.1);
    transform: font-size(2rem); 
}

.container .contact .socials li{
    /* list-style: none; */

    display:inline;
    /* margin:5px; */

}
.container{
    padding-bottom: 50px;
}
i:hover{
    /* color: #f6fc59; */
    transition:.2s ease-in-out;
    transform: scale(1.1);
    transform: font-size(2rem); 
}

li a{
    margin:0;
    padding:0;
    color: white;
    background:none;
    font-size: 3;
}
#spotify{
    height: 400px;
    z-index: 2;

}
@media screen and (max-width: 720px) {
    .info-container{
        padding-bottom: 40px;
    }
    .info-container{
        flex-direction: column;
        padding-inline: 0px;
        align-items: center;
        justify-content: center;
    }
    .contact{
        display: flex;
        flex-direction: column;
        align-items:center;
        justify-items: center;
        flex:1;

    
    }
    i{
        font-size: 3rem;
        padding: 5px;
        margin-bottom: 10px;
    }
    ul.socials{
        align-self: center;
        justify-self: center;
        margin:0;
        padding:0;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    @-webkit-keyframes glow {
        from {
          text-shadow: 0 0 5px #fff, 0 0 5px #fff, 0 0 5px #f6fc59, 0 0 5px #f6fc59, 0 0 5px #f6fc59, 0 0 5px #f6fc59, 0 0 5px #f6fc59;
        }
        
        to {
          text-shadow: 0 0 20px #fff, 0 0 2px #f6fc59, 0 0 0px #f6fc59, 0 0 5px #f6fc59, 0 0 5px #f6fc59, 0 0 5px #f6fc59, 0 0 5px #f6fc59;
        }
      }

}

/*  */
.marquee:nth-of-type(1) {
    position: fixed;
    width: 100%;
	/* line-height: 50px; */
	/* background-color: red; */
	color: white;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
}
.mb {
    position: fixed;
    width: 100%;
    bottom:0;
	/* line-height: 50px; */
	/* background-color: red; */
	color: white;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
    z-index: 0;
}
.marquee h1 {
    display: inline-block;
    padding-left: 100%;
    animation: marquee 30s linear infinite;
    font-size: 6vw;
    /* line-height: 200px; */
    /* line-height: normal !important; */

}
.mb h1 {
    display: inline-block;
    padding-left: 100%;
    animation: mb 30s linear infinite;
    font-size: 6vw;
    margin-top: 10px;
    /* line-height: 120px;/ */

}

@keyframes marquee {
    0%   { transform: translate(0, 0); }
    100% { transform: translate(-115%, 0); }
}
@keyframes mb {
    0%   { transform: translate(-115%, 0); }
    100% { transform: translate(0%, 0); }
}
